<section class="bg-zinc-900 p-20 rounded-lg my-4">
    <h1 class="font-bold text-5xl mb-5">About Us</h1>
    <p class="text-zinc-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet quod maiores voluptatem non eum blanditiis maxime, officiis molestiae aliquam nemo temporibus officia facilis reiciendis adipisci provident delectus quis. Aliquid, veniam. Quam vitae corrupti odio facere sed, reprehenderit quidem labore nam, temporibus neque, aut deserunt molestiae a corporis nulla blanditiis tempore!</p>
</section>