---
import Layout from "../layouts/Layout.astro"

---

<Layout title='Aout my site'>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto vitae corporis laboriosam ex rem officiis ut, quidem distinctio eos maiores odit optio officia voluptatem aliquid molestias. Similique quaerat commodi nemo?</p>
</Layout>